body {
    font-family: 'Cursive', sans-serif;
    background-color: #ff004f;
}

.container {
    background: #fff;
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#urlInput {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 15px;
    background-color: #ff004f;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #ff004f;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
